.card {
    display: inline-block;
    padding: 1.5rem;
    background: #ecf0f1;
    border-radius: 5px;
    color: #454545;
    width: 200px;
    max-width: 200px;
    max-height: 368px;
    margin: 0 1rem 1rem;
    -webkit-animation: myDebt 0.2s;
    animation: myDebt 0.2s;
    position: relative;
    text-align: center;

    .pic {
        width: auto;
        display: none;
        max-width: 160px;
        margin: 10px auto;
        border-radius: 6px;
        box-shadow: 0 0 5px black;
    }

    .mild-red-card {
        box-shadow: 0 0 35px red;
    }

    .red-card {
        box-shadow: 0 0 50px 15px red;
    }

    .double-penalty {
        width: 260px;
        height: 115px;
        position: absolute;
        top: 0;
        left: 38px;
    }

    .red-glowing-card {
        -webkit-animation:redGlow ease-in-out 2s infinite;
        animation:redGlow ease-in-out 2s infinite;
    }

    .debt-data {
        .card-item {
            font-family: monospace;
            font-size: 13px;
            margin-top: 0;
            max-height: 18px;
            padding: 5px 0;
            word-wrap: break-word;

            &--name {
                font-weight: bold;
                font-size: 45px;
            }

            &--cause {
                font-size: 18px;
            }
        }

        .clouds-flat-button {
            background-color: #ecf0f1;
            border: 0;
            color: #e69133;
            cursor: pointer;
            float: left;
            font-size: 45px;
            height: 50px;
            margin: 0 70px;
            text-transform: uppercase;
            width: 50px;
        }
        .clouds-flat-button:active {
            top: 1px;
            outline: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        .clouds-flat-button:focus {
            outline: none;
        }
    }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes myDebt {
    from {margin: 0 0 0;}
    to {margin:0 1rem 1rem;}
}

/* Standard syntax */
@keyframes myDebt {
    from {margin: 0 0 0;}
    to {margin:0 1rem 1rem;}
}

@-webkit-keyframes redGlow {
    0% {box-shadow: 0 0 50px 15px red;}
    50% {box-shadow: 0 0 50px 30px red;}
    100% {box-shadow: 0 0 50px 15px red;}
}

@keyframes redGlow {
    0% {box-shadow: 0 0 50px 15px red;}
    50% {box-shadow: 0 0 50px 30px red;}
    100% {box-shadow: 0 0 50px 15px red;}
}
